{:paths ["src" "resources" "native-res"]
 :deps
 {com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}
 :aliases
 {:build
  {:deps 
   {
    io.github.clojure/tools.build {:git/tag "v0.8.5"
                                   :git/sha "9c738dac113977d6e351f5b778195f07a8a97377"}}
   :ns-default build
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"
              "-Dclojure.spec.skip-macros=true"]}}}
